################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WebCam/obj/Debug/WebCam.Properties.Resources.resources
